div
  div.row.top-panel.card-panel.red.lighten-4
    span(ng-hide='call.fail')
      span(ng-show='call.data').
        Caller's number is {{call.number}}
      span(ng-hide='call.data'). Loading...
    span(ng-show='call.fail').
      {{call.fail}}
  .row.card-panel(ng-if="!call.fail")
    .col.s12.m6
      div(ng-show='call.data')
        table
          thead
            tr
              td(data-field='key') Field
              td(data-field='value') Value
          tr
            td Duration
            td #[min-timer(time='call.time' end='end')]
              span(ng-if='end') (finished)
          tr
            td Name
            td {{data.name}}
        .vspace
        p(ng-show='call.data') debug k/v pairs:
        p(ng-repeat='(key, value) in call.data').
          {{key}}: {{value}}
      div.tcenter(ng-hide='call.data').
        Loading...
    .col.s12.m6.mymap
      map-pos(lat='lat' lng='lng')