html(ng-app='app')
  head
    title 911 data server
    
    script(src='/lib/lodash/lodash.js')
    script(src='/lib/angular/angular.js')
    script(src='/lib/angular-route/angular-route.js')
    
    link(rel='stylesheet' href='/css/main.css')
      
    script(src='/js/components.js')
    script(src='/js/app.js')
  body(ng-controller='AppCtrl as appct')
    div(ng-view)